<div class="cards-container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Pioche du Grincheux</mat-card-title>
      <mat-card-subtitle>79.99€</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://m.media-amazon.com/images/I/51h8lHX6xiS.__AC_SX300_SY300_QL70_FMwebp_.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><mat-icon>add_shopping_cart</mat-icon></button>
      <button mat-button><mat-icon>share</mat-icon></button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Pioche du Grincheux</mat-card-title>
      <mat-card-subtitle>79.99€</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://m.media-amazon.com/images/I/51h8lHX6xiS.__AC_SX300_SY300_QL70_FMwebp_.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><mat-icon>add_shopping_cart</mat-icon></button>
      <button mat-button><mat-icon>share</mat-icon></button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Pioche du Grincheux</mat-card-title>
      <mat-card-subtitle>79.99€</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://m.media-amazon.com/images/I/51h8lHX6xiS.__AC_SX300_SY300_QL70_FMwebp_.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><mat-icon>add_shopping_cart</mat-icon></button>
      <button mat-button><mat-icon>share</mat-icon></button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Pioche du Grincheux</mat-card-title>
      <mat-card-subtitle>79.99€</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://m.media-amazon.com/images/I/51h8lHX6xiS.__AC_SX300_SY300_QL70_FMwebp_.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><mat-icon>add_shopping_cart</mat-icon></button>
      <button mat-button><mat-icon>share</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
