.table-search{
  align-self: flex-start;
}
.action-button:hover{
  background-color: lightgray;
  cursor: pointer;
}
.search-image{
  max-width: 12vw;
}
.td-image {
  display: flex;
  justify-content: center;
}
