.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 83vh;
  margin: 0;
  border-top: black 1px solid;
}
.app-sidenav {
  width: 230px;
}
.app-sidenav-content {
  display: flex;
  height: 83.5vh;
  align-items: center;
  justify-content: center;
}
.menu-span {
  font-family: "Open Sans", serif;
  font-size: small;
  align-items: center;
  display: flex;
  cursor: pointer;
  margin-bottom: 1rem;
  gap: 1rem;
}
.menu-span:hover{
  background-color: lightgray;
}
.menu-span-Title {
  font-size: large;
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
  color: #673ab7;
}
.menu-span:hover{
  mat-icon {
    color: #673ab7;
  }
  color: #673ab7;
}
