<div class="mainDiv" *ngIf="currentUser">
  <form method="POST" class="form-infos">
    <div class="margin-form">
      <mat-form-field class="form-element-100">
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput placeholder="Ex. Pizza" value="{{currentUser.username}}" name="username" [(ngModel)]="currentUser.username">
      </mat-form-field>
      <br/>
      <mat-form-field class="form-element-100">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Ex. Pizza" value="{{currentUser.lastName}}" name="lastName"  [(ngModel)]="currentUser.lastName">
      </mat-form-field>
      <br/>
      <mat-form-field class="form-element-100">
        <mat-label>Prénom</mat-label>
        <input matInput placeholder="Ex. Pizza" value="{{currentUser.firstName}}" name="firstName"  [(ngModel)]="currentUser.firstName">
      </mat-form-field>
      <br/>
      <mat-form-field class="form-element-100">
        <mat-label>Email</mat-label>
        <input type="email" matInput name="email" value="{{currentUser.email}}"  [(ngModel)]="currentUser.email" placeholder="Ex. pat@example.com"/>
      </mat-form-field>
      <br/>
      <mat-form-field class="form-element-100">
        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput placeholder="Ex. Pizza" value="" name="password" [(ngModel)]="currentUser.password">
      </mat-form-field>
      <br/>
      <mat-form-field class="form-element-100">
        <mat-label>Confirmer le Mot de passe</mat-label>
        <input type="password" matInput placeholder="Ex. Pizza" value="" name="confirmpassword" [(ngModel)]="currentUser.confirmpassword">
      </mat-form-field>
      <br/>
      <button class="form-element-100" type="button" mat-raised-button color="primary" (click)="changeInfos()">Enregistrer mes modifications</button>
    </div>
  </form>
</div>
